<div id="app">
  <div class="container">
    <div class="header">
      <div nz-flex [nzJustify]="'center'" [nzAlign]="'flex-start'">
        <img
          nz-image
          width="350px"
          height="auto"
          nzSrc="/images/pokemon.png"
          alt="pokemon logo"
          class="pokemon-logo"
        />
      </div>
    </div>
    <div class="content">
      <div class="hero"></div>
      <div class="card-list">
        <div nz-row [nzGutter]="16">
          @for (pokemon of pokemonDetails; track pokemon.id) {
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="4">
            <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
              <nz-card-meta
                [nzTitle]="pokemon.name"
                nzDescription="Pokemon"
              ></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
              <img
                [alt]="pokemon.name"
                [src]="pokemon.sprites.other['official-artwork'].front_default"
              />
            </ng-template>
          </div>
          } @empty {
          <h1>No data available</h1>
          }
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</div>
